
RewriteEngine on

RewriteCond %{HTTP_HOST} ^admin\.parsclick\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.admin\.parsclick\.net$
RewriteRule ^/?$ "http\:\/\/www\.parsclick\.net\/admin\/" [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]