Database
/index.php
logs

# package.json
# gulpfile.js

### Exclude OS X folder attributes ###
.DS_Store

### Video Files ###
*.mp4
*.ogv
*.wmv
*.webm
*.mov

### Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm ###
/*.iml

## Directory-based project format:
.idea/

### Node ###
node_modules
# Logs
logs
*.log
npm-debug.log*

### Runtime data ###
pids
*.pid
*.seed

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### CodeKit ###
# General CodeKit files to ignore
config.codekit
/min