//my colours
@parsclick : #FF8000;
@darkblack : #303030;
@purple : #415B76;
@yellow : #F0C832;
@beige : #F5F5DC;
@green : #00CDA0;
@pink : #E74C3C;
@red : #BA83D4;
@shadow : #9B9B9B;

@font-face {
	font-family : "yekan";
	src         : url(../fonts/Yekan/Yekan.eot);
	src         : url(../fonts/Yekan/Yekan.eot?#iefix) format("embedded-opentype"),
	url(../fonts/Yekan/Yekan.woff) format("woff"),
	url(../fonts/Yekan/Yekan.ttf) format("truetype"),
	url(../fonts/Yekan/YekanBold.ttf) format("truetype"),
	url(../fonts/Yekan/Yekan.svg#BYekan) format("svg");
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : "bbcnassim";
	src         : url(../fonts/BBCFont/BBCNassim.ttf) format("truetype"),
	url(../fonts/BBCFont/BBCNassim.otf) format("opentype");
	font-weight : normal;
	font-style  : normal;
}

@headlineFontFamily : "yekan", "bbcnassim", Tahoma, Verdana, Arial, sans-serif;
@copyFontFamily : "yekan", "Helvetica Neue", Helvetica, Tahoma, Verdana, Arial, sans-serif;
@englishFontFamily : "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
@editFontFamily : "bbcnassim", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;

::selection { color : @beige; background : @darkblack; }

.bright { color : #C8FF00 !important; }

.arial { font-family : @englishFontFamily; }

.yekan { font-family : @copyFontFamily; }

.edit {
	font-family : @editFontFamily;
	direction   : ltr;
	text-align  : left;
	float       : left;
}

body {
	background  : @purple;
	margin-top  : 30px;
	font-family : @copyFontFamily;
}

h1, h2, h3, h4, h5, h6 {
	font-family : @headlineFontFamily;
	color       : @purple;
	text-shadow : 1px 1px 10px @shadow;
}

code {
	display     : inline-block;
	direction   : ltr;
	text-align  : left;
	font-size   : 80%;
	text-shadow : none;
}

pre {
	direction        : ltr;
	float            : left;
	text-align       : left;
	width            : 100%;
	border           : none;
	background-color : #272822;
	color            : @yellow;
}

blockquote {
	border-right : 5px solid darken(@beige, 10%);
	border-left  : 0;
}

p {
	font-family : @copyFontFamily;
	font-size   : 15px;
	line-height : 1.5em;
	color       : @darkblack;
	padding     : 0 2%;
	text-align  : justify;
}

input, select, textarea { font-family : "bbcnassim", Tahoma, Verdana, sans-serif, serif; }

ol { list-style-type : persian; }

ul { margin-top : 5px; }

aside {
	h2, h3 {
		font-size     : 1.8em;
		color         : @pink;
		border-bottom : 1px dotted @purple;
	}
}

textarea {
	resize  : vertical;
	padding : 15px !important;
}

option { direction : ltr; }

legend { font-family : @copyFontFamily; }

hr {
	margin : 22px 0;
	border : 1px solid #E5E5E5;
}

dd {
	@media (max-width : 767px) {
		float : left;
	}
}

.dl-horizontal dd {
	@media (max-width : 767px) {
		margin-left : 0;
	}
}

.lead { margin-top : 15px; margin-bottom : 5px; }

.underline { border-bottom : 1px solid @purple; }

.list-group-item-text { margin-right : 20px; }

.list-group-item li { margin-right : 5px; }

a:hover, a:focus {
	color           : @pink;
	text-decoration : none;
	transition      : color 0.5s ease;
}

.container {
	background            : @beige;
	-webkit-border-radius : 0 60px 0 0;
	-moz-border-radius    : 0 60px 0 0;
	border-radius         : 0 60px 0 0;

	@media (max-width : 767px) {
		-webkit-border-radius : 0 30px 0 0;
		-moz-border-radius    : 0 30px 0 0;
		border-radius         : 0 30px 0 0;
	}
}

.main {
	background        : @beige;
	-webkit-animation : fadeIn 2s;
	-moz-animation    : fadeIn 2s;
	-o-animation      : fadeIn 2s;
	animation         : fadeIn 2s;
}

.navbar { margin-bottom : 0; border-radius : 0; }

.navbar-toggle {
	position         : absolute;
	top              : 2px;
	right            : 2px;
	padding          : 5px 10px;
	background-color : @purple;
	border           : 1px solid #DDD;
	border-radius    : 4px;
}

.navbar-toggle:hover, .navbar-toggle:focus { background-color : @beige; }

.carousel { margin-bottom : 0; }

.carousel-caption > * { color : @beige; }

.carousel-caption {
	text-align                : right;
	background-color          : rgba(0, 0, 0, 0.3);
	padding-right             : 2%;
	right                     : 0;
	left                      : 50%;
	bottom                    : 20%;
	border-top-left-radius    : 10px;
	border-bottom-left-radius : 10px;
}

// Uncomment for carousel fade in
.carousel-fade {
	.carousel-inner {
		.item { transition-property : opacity; }
		.item,
		.active.left,
		.active.right { opacity : 0; }
		.active,
		.next.left,
		.prev.right { opacity : 1; }
		.next,
		.prev,
		.active.left,
		.active.right { left : 0; transform : translate3d(0, 0, 0); }
	}
	.carousel-control { z-index : 2; }
}

// End: Uncomment for carousel fade in

.main > article {
	margin     : 5% 5%;
	text-align : justify;
	ol, ul { margin-right : 30px; }
	h1, h2, h3 { text-align : right; }
}

#member_article { margin : 2.5% 5% 5% 5%; }

.sidebar > aside {
	padding : 5%;

	@media (max-width : 767px) {
		padding : 5%;
	}
}

#branding {
	img {
		margin    : 20px 25px 5px 0;
		max-width : 450px;
		@media (max-width : 767px) {
			margin : 20px 10px 5px 0;
			width  : 90%;
		}
	}
}

.alert-dismissible {
	display  : inline-block;
	position : fixed;
	left     : 15px;
	top      : 30px;
	z-index  : 100;
}

.modal { direction : ltr; }

.modal-content { direction : rtl; }

@media screen and (min-width : 768px) {
	#YouTubeModal { margin-right : 100px; }
}

.accordion-heading {
	background    : @purple;
	border-radius : 5px;
	a { color : white; }
}

.about {
	article { margin : 0; padding : 0; }

	h2 { padding : 0; border-bottom : 1px dotted @purple; }

	h3 {
		color     : @pink;
		padding   : 0;
		margin    : 5px;
		font-size : 1.5em;
	}
}

.nav-tabs {
	li a { color : @purple; }

	li.active a { background : @beige; }

	li a:hover { background : @pink; color : white; }
}

kbd {
	padding            : 0 2px;
	font-size          : 80%;
	color              : white;
	background-color   : #333;
	border-radius      : 10px;
	-webkit-box-shadow : inset 0 -1px 0 rgba(0, 0, 0, .25);
	box-shadow         : inset 0 -1px 0 rgba(0, 0, 0, .25);
	font-family        : @editFontFamily;
}

.nav-tabs li.active {
	a { color : @pink; font-weight : bold; }
}

.tab-content {
	h3, h4 { margin : 0; padding : 0; }

	h3 { color : @pink; line-height : 1em }

	p { padding-top : 10px; text-align : justify; }
}

.photogrid img {
	width  : 96px;
	margin : 0 5px 5px 0;
	cursor : pointer;

	@media (max-width : 990px) {
		width : 64px;
	}
}

ul.breadcrumb a:hover { color : @pink; }

.container-footer { background : @purple; }

footer {
	ul.breadcrumb {
		background            : @purple;
		margin                : 0 auto;
		-webkit-border-radius : 0;
		-moz-border-radius    : 0;
		border-radius         : 0;
		color                 : white;
		font-size             : 13px;
		a > i:hover {
			color               : @yellow;
			transition-duration : 1s;
		}
		i { color : white; }
		li { text-shadow : none;
			a { color : white; }
		}
	}
}

.navbar .nav > li > .dropdown-menu { top : 30px; }

// Notification

#notifyModal {
	direction : rtl;
	.modal-dialog { padding : 0; }
	.modal-content { border-radius : 0; height : auto; min-height : 100%; }
	@media screen and (min-width : 768px) {
		.modal-dialog {
			left           : 0;
			right          : 0;
			width          : 33%;
			margin-left    : 0;
			padding-top    : 0;
			padding-bottom : 0;
			height         : 100%;
		}
	}
}

.scrollspy .nav {
	background : @purple;
	margin-top : 20px;

	@media (max-width : 979px) {
		width     : 15%;
		max-width : 120px;
	}

	@media (min-width : 980px) {
	(max-width: 1199) {
		width     : 13%;
		min-width : 120px;
	}

		@media (min-width : 1200px) {
			width     : 13%;
			max-width : 180px;
		}
	}
	li {
		padding       : 0;
		margin        : 0;
		border-bottom : 1px solid darken(@purple, 10%);
		border-top    : 1px solid lighten(@purple, 10%);

		a {
			color        : white;
			text-indent  : -20px;
			padding-left : 30px;
		}

		a:hover {
			background : @yellow;
			color      : black;
			transition : background, color 0.5s ease;
		}
	}

	li.active { background : @pink; }

	li:first-child { border-top : none; }

	li:last-child { border-bottom : none; }
}

.pagination { border-left : 1px solid #CCC; }

.label-as-badge {
	display       : inline-block;
	min-width     : 10px;
	border-radius : 1em;
	margin-top    : 3px;
}

.breadcrumb > li:after {
	display : inline-block;
	content : "";
	padding : 0 5px;
	color   : #CCC;
}

// change the jumbotron font size
.jumbotron h1 { font-size : 50px; color : @beige; }

// Jumbotron Style
.jumbotron {
	padding          : 30px;
	margin-bottom    : 30px;
	font-size        : 24px;
	font-weight      : 200;
	line-height      : 2.14285714;
	border-radius    : 0;
	color            : inherit;
	background-color : @darkblack;
	p { color : @beige; font-size : 75%; }
}

.table-responsive {
	width                      : 100%;
	margin-bottom              : 15px;
	overflow-y                 : hidden;
	overflow-x                 : scroll;
	-ms-overflow-style         : -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling : touch;
}

.embed-responsive {
	position : relative;
	display  : block;
	height   : 0;
	padding  : 0;
	overflow : hidden;

	.embed-responsive-item,
	iframe,
	embed,
	object,
	video {
		position : absolute;
		top      : 0;
		left     : 0;
		bottom   : 0;
		height   : 100%;
		width    : 100%;
		border   : 0;
	}
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 { padding-bottom : 56.25%; }

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 { padding-bottom : 75%; }

.center {
	margin     : auto;
	text-align : center !important;
	display    : inherit;
	* { text-align : center !important; }
}

.author-photo {
	width         : 100px;
	height        : 100px;
	margin-bottom : 30px;
	box-shadow    : 1px 1px 10px #737373;
}

.btn { margin : 1% 0; }

.selected { font-weight : bold; color : @pink !important; }

.range-wrap { overflow : hidden; }

.glyphicon-user:before { display : block; }

form.addtoplaylist, form.removefromplaylist { display : inline; }

.input-group-addon:first-child { border-right : 1px solid #CCC; }

.input-group input:last-child, .input-group-addon:last-child,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle {
	border-bottom-right-radius : 0;
	border-top-right-radius    : 0;
	border-bottom-left-radius  : 4px;
	border-top-left-radius     : 4px;
}

.dl-horizontal dt { float : right; }

.bgvideo {
	min-width  : 100%;
	min-height : 100%;
	width      : auto;
	height     : auto;
}

.screenshot { margin : 0 10px 10px 0; }

// FACEBOOK COMMENTS
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	min-width : 100% !important;
	width     : 100% !important;
}

.share-buttons {
	opacity             : .6;
	transition-duration : 1s;
}

.share-buttons:hover {
	opacity             : 1;
	transition-duration : 1s;
}

.admin-jumbotron {
	background              : url('../../images/others/admin.jpg') no-repeat;
	-webkit-background-size : 100% 100%;
	-moz-background-size    : 100% 100%;
	-o-background-size      : 100% 100%;
	background-size         : 100% 100%;
	background-size         : cover;
	text-shadow             : black 0.3em 0.3em 0.3em;
}

.author-jumbotron {
	background              : url('../../images/others/author.jpg') no-repeat;
	-webkit-background-size : 100% 100%;
	-moz-background-size    : 100% 100%;
	-o-background-size      : 100% 100%;
	background-size         : 100% 100%;
	background-size         : cover;
	text-shadow             : black 0.3em 0.3em 0.3em;
}

.member-jumbotron {
	//-webkit-animation : box 10s infinite alternate;
	//-moz-animation    : box 10s infinite alternate;
	//-o-animation      : box 10s infinite alternate;
	//animation         : box 10s infinite alternate;
	background              : url('../../images/others/member.jpg') no-repeat;
	-webkit-background-size : 100% 100%;
	-moz-background-size    : 100% 100%;
	-o-background-size      : 100% 100%;
	background-size         : 100% 100%;
	background-size         : cover;
	text-shadow             : black 0.3em 0.3em 0.3em;
}

// TWITTER EMBED
#twitter-widget-1 {
	width      : 80% !important;
	margin     : 0 auto !important;
	text-align : center !important;
	display    : block !important;
}