<Files ~ "^\.(htaccess|htpasswd)$">
	deny from all
</Files>
ErrorDocument 400 /400
ErrorDocument 403 /403
ErrorDocument 404 /404
ErrorDocument 500 /500

<IfModule mod_rewrite.c>

    IndexIgnore *
    Options +FollowSymlinks
    Options +SymLinksIfOwnerMatch
    Options -Indexes
    Options -MultiViews

    RewriteEngine On
    RewriteBase /Parsclick/public

    ## TODO: Remove WWW
    # RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
    # RewriteRule ^(.*)$ http://%1/$1 [R=301,NC,L]
    ## TODO: Force WWW
    # RewriteCond %{HTTP_HOST} !^www\. [NC]
		# RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L,NC]

    ## TODO: To make website Unavailable
    # RewriteCond %{REQUEST_URI} !\.(css|jpg|png|gif|bmp|js|min|svg|eot|ttf|woff|woff2|otf|ico)  [NC]
    # RewriteCond %{REQUEST_URI} !unavailable\.html  [NC]
    # RewriteRule .*   /unavailable.html [R=302,L]

    DirectoryIndex index.php index.html

    ## Remove index from URL TODO: uncomment
    # RewriteCond %{THE_REQUEST} ^.*/index [OR]
    # RewriteCond %{THE_REQUEST} ^.*/index.php
    # RewriteRule ^(.*)index(\.php)?$ /$1 [R=307,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L,NC]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [QSA,L,NC]

    # Show the logo for 404 page
		RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
		RewriteRule \.(gif|jpe?g|png|bmp) images/misc/logo.$1 [NC]
		RewriteRule \.css _/css/all.css [NC]
		RewriteRule \.(svg|eot|ttf|woff|woff2|otf) _/fonts/Yekan/Yekan.$1 [NC,L]

    RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
    RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
    RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
    RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
    RewriteRule .* index.php [F]

    <FilesMatch "\.(ttf|otf|eot)$">
        <IfModule mod_headers.c>
            Header set Access-Control-Allow-Origin "*"
        </IfModule>
    </FilesMatch>

</IfModule>
# END: CHECK IF mod_rewrite is ON

##################################################################################
# Uncomment to use Username: amirhassanazimi and Password: 1234-asdf for the site
##################################################################################

#AuthType Basic
#AuthName "Access to Parsclick"
#AuthUserFile /.htpasswd
#Require valid-user

###################################################################################
#                                   PHP INI                                       #
###################################################################################

# TODO: stop revealing php information
#php_flag expose_php off   #only php.ini
#ServerSignature Off       #only httpd.conf
#ServerTokens Prod         #only httpd.conf

#php_flag session.auto_start off
#php_flag session.use_cookies on
#php_flag session.use_only_cookies on
#php_flag session.use_trans_sid off

## comment out for PHP < 5.5.2
# php_flag session.use_strict_mode on

## letters and numbers for session name
# php_value session.name PARSCLICKSESSION
#php_value session.cache_limiter nocache

### Cookie settings
## add your domain for better security
#php_value session.cookie_domain ''
## specify path for storing cookies
#php_value session.cookie_path '/parsclick'
# php_value session.cookie_lifetime 0
## sessions only can be accessible via http request
# php_flag session.cookie_httponly on

# TODO: comment out for https://
#php_flag session.cookie_secure off

#php_value session.gc_maxlifetime 1440
#php_value session.gc_probability 1
#php_value session.gc_divisor 100